VITE_API_BASE_URL=http://localhost:8080
VITE_KAKAO_MAP_APP_KEY=7e9bc3aa2da453cb1966f25b7230c34c

VITE_FIREBASE_API_KEY=AIzaSyCJb7J--Z4oCbmLZFNFCS-sWxa87j9zmDY
VITE_FIREBASE_AUTH_DOMAIN=foodshare-27405.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=foodshare-27405
VITE_FIREBASE_STORAGE_BUCKET=foodshare-27405.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1027733868360
VITE_FIREBASE_APP_ID=1:1027733868360:web:ef80eb6b455f4d53f5ad7d
VITE_FIREBASE_MEASUREMENT_ID=G-MHRY9FK291

# Firebase Console > Project settings > Cloud Messaging > Web Push certificates
VITE_FIREBASE_VAPID_KEY=BLfdIUXq5NPtYGTYz9SzQHjj-edwoewjPFyz3PZASk1ptoV4moTbg63pHO3NzxvheBAjFHvT2zjjIMwPfYK6BQ
